/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Playfair Display';
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.navigation {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 1, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (min-width: 992px) {
  .navigation {
    position: relative;
    color: #3c3c3c;
  }
}
.navigation-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  background-color: #3c3c3c;
}
@media (min-width: 992px) {
  .navigation-list {
    display: inline-block;
    background-color: transparent;
    margin-left: 35px;
  }
}
.navigation-list__item {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #292929;
}
@media (min-width: 992px) {
  .navigation-list__item {
    display: inline-block;
    border: none;
  }
}
.navigation-list__item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 15px;
  transition: 0.3s ease-in;
}
.navigation-list__item a:hover,
.navigation-list__item a:active,
.navigation-list__item a:focus {
  color: #e2574c;
  text-decoration: none;
  outline: none;
}
@media (min-width: 992px) {
  .navigation-list__item a {
    padding: 30px 27px;
    color: #3c3c3c;
  }
  .navigation-list__item a:hover,
  .navigation-list__item a:active,
  .navigation-list__item a:focus {
    background-color: #F2F2F2;
    color: #3c3c3c;
    text-decoration: none;
    outline: none;
  }
}
.navigation__toggle-button {
  display: flex;
  padding: 25px 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  color: #3c3c3c;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.navigation__toggle-button .fa {
  font-size: 35px;
}
.navigation__toggle-button--active {
  background-color: #292929;
  color: #FFF;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container--mobile--no-padding {
    width: 1170px;
  }
}
.top-slider {
  height: 300px;
  margin-top: 87px;
  background-color: #B8B8B8;
}
@media (min-width: 768px) {
  .top-slider {
    height: 650px;
  }
}
@media (min-width: 992px) {
  .top-slider {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .top-slider {
    height: 840px;
  }
}
.slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  padding-top: 90px;
}
@media (min-width: 768px) {
  .slide {
    height: 650px;
    padding-top: 450px;
  }
}
@media (min-width: 1200px) {
  .slide {
    height: 840px;
    padding-top: 625px;
  }
}
.slide__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Raleway';
  font-weight: bold;
  color: #FFF;
  text-align: center;
}
@media (min-width: 768px) {
  .slide__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .slide__title {
    font-size: 48px;
  }
}
.slide-desc {
  text-align: center;
  font-size: 0;
}
.slide-desc__price {
  display: block;
  margin-bottom: 20px;
  vertical-align: middle;
  font-family: 'Proxima Nova Lt';
  font-size: 30px;
  line-height: 1;
  color: #FFF;
  font-weight: 300;
}
@media (min-width: 768px) {
  .slide-desc__price {
    display: inline-block;
    font-size: 36px;
    margin-right: 35px;
    margin-bottom: 0px;
  }
}
.slide-desc__button {
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 9px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.slide-desc__button:hover,
.slide-desc__button:active,
.slide-desc__button:focus {
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: #3c3c3c;
}
@media (min-width: 768px) {
  .slide-desc__button {
    padding: 8px 12px;
    font-size: 16px;
  }
}
.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  background-color: #FFF;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  max-width: 362px;
}
@media (min-width: 768px) {
  .card {
    width: 100%;
  }
}
.card__img {
  height: 242px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-desc {
  padding-top: 25px;
  padding-bottom: 25px;
}
.card-desc__name {
  margin-bottom: 3px;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 500;
  color: #3c3c3c;
}
.card-desc__location {
  margin-bottom: 15px;
  font-size: 15px;
  color: #797979;
}
.card-desc__price {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  font-weight: normal;
  color: #E2574C;
  text-transform: uppercase;
}
.card-charact {
  margin: 0;
  padding: 13px 0;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
  font-size: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.card-charact__item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-size: 13px;
  color: #797979;
}
.card-charact__item:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #C0C0C0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.card-charact__item:last-child {
  margin-right: 0;
}
.card-charact__item:last-child:after {
  display: none;
}
.button {
  display: inline-block;
  padding: 18px 21px;
  background-color: #E2574C;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #D4362A;
  text-decoration: none;
  color: #FFF;
  -webkit-box-shadow: 0px 3px 20px -3px #de5656;
  -moz-box-shadow: 0px 3px 20px -3px #de5656;
  box-shadow: 0px 3px 20px -3px #de5656;
}
.button--util-margin-top {
  margin-top: 21px;
}
.button--small-padding {
  font-size: 14px;
  padding: 16px 18px;
}
.agents-slider {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .agents-slider {
    padding-top: 90px;
  }
}
.agent-photo {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 467px;
}
.agent-desc {
  margin-bottom: 50px;
  padding-top: 124px;
}
.agent-desc__name {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #3c3c3c;
}
.agent-desc__text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 27px;
  color: #797979;
}
.agent-desc__text p {
  margin: 0;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  .agent-desc__text p {
    padding-right: 87px;
  }
}
.agent-desc__phone {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #3c3c3c;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.agent-desc__phone:hover,
.agent-desc__phone:active,
.agent-desc__phone:focus {
  text-decoration: none;
  color: #D4362A;
}
.agent-desc__phone:before {
  content: "";
  display: inline-block;
  background-image: url("../img/icons/telephone.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .agent-desc__phone {
    display: inline-block;
    margin-right: 28px;
    margin-bottom: 0;
  }
}
.agent-desc__email {
  font-size: 16px;
  color: #E2574C;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.agent-desc__email:hover,
.agent-desc__email:active,
.agent-desc__email:focus {
  color: #00A7E5;
}
.agent-desc__email:before {
  content: "";
  display: inline-block;
  background-image: url("../img/icons/email.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}
.heading {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 29px;
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: 300;
  color: #3c3c3c;
  text-align: center;
}
.heading span {
  font-weight: 500;
}
@media (min-width: 768px) {
  .heading {
    font-size: 37px;
  }
}
@media (min-width: 992px) {
  .heading {
    font-size: 45px;
  }
}
.heading:after {
  content: "";
  position: absolute;
  background-color: #E2574C;
  height: 3px;
  width: 110px;
  -webkit-border-radius: 1.5px;
  border-radius: 1.5px;
  right: 50%;
  bottom: 0;
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  transform: translate(50%);
}
.heading--agent-slider {
  position: absolute;
  margin: 0;
  font-size: 37px;
  z-index: 3;
}
.heading--agent-slider:after {
  right: 0;
  left: 0;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
@media (min-width: 992px) {
  .heading--agent-slider {
    font-size: 45px;
  }
}
.heading--testimonials-slider {
  font-weight: 500;
  color: #FFF;
  margin-bottom: 43px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .heading--testimonials-slider {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .heading--testimonials-slider {
    font-size: 40px;
  }
}
.testimonials-slider {
  background-image: url("../img/bg/testimonials-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFF;
  text-align: center;
}
@media (min-width: 768px) {
  .testimonials-slider {
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .testimonials-slider {
    height: 574px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
.testimonials-slider__quote {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .testimonials-slider__quote {
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .testimonials-slider__quote {
    font-size: 24px;
    line-height: 35px;
  }
}
.testimonials-slider__author {
  font-size: 14px;
  margin-bottom: 25px;
}
.testimonials-slider__author span {
  font-weight: bold;
}
@media (min-width: 768px) {
  .testimonials-slider__author {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .testimonials-slider__author {
    font-size: 20px;
  }
}
.logo {
  display: inline-block;
  background-image: url("../img/icons/frame-logo.svg");
  background-repeat: no-repeat;
  background-position: top left;
  height: 45px;
  width: 173px;
  margin-top: 22px;
  padding-top: 4px;
  text-align: center;
  color: #3c3c3c;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.logo:hover,
.logo:active,
.logo:focus {
  text-decoration: none;
  color: #3c3c3c;
}
.logo--footer {
  background-image: url("../img/icons/frame-logo-footer.svg");
  color: #acacac;
  margin-top: 0px;
  margin-bottom: 20px;
}
.logo--footer:hover,
.logo--footer:active,
.logo--footer:focus {
  color: #acacac;
}
.social-icons {
  display: none;
  margin-left: 17px;
}
@media (min-width: 1200px) {
  .social-icons {
    display: inline-block;
  }
}
.social-icons--footer {
  display: block;
  margin-left: 0px;
  margin-bottom: 45px;
}
@media (min-width: 992px) {
  .social-icons--footer {
    margin-bottom: 0;
  }
}
.social-icons__item {
  display: inline-block;
  margin-right: 10px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  transition: 0.3s ease-in;
}
.social-icons__item:last-child {
  margin-right: 0;
}
.social-icons__item:hover,
.social-icons__item:active,
.social-icons__item:focus {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(156, 156, 156, 0.8);
  -moz-box-shadow: 0px 0px 15px 0px rgba(156, 156, 156, 0.8);
  box-shadow: 0px 0px 15px 0px rgba(156, 156, 156, 0.8);
  outline: none;
}
.social-icons__item--footer {
  margin-right: 12px;
}
.social-icons__item--footer:hover,
.social-icons__item--footer:active,
.social-icons__item--footer:focus {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.8);
}
.offering {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .offering {
    padding-top: 113px;
    padding-bottom: 114px;
  }
}
.offering-title {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 500;
  color: #3c3c3c;
  position: relative;
}
.offering-title:after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #3c3c3c;
  transform: translate(50%);
}
@media (min-width: 768px) {
  .offering-title {
    text-align: right;
    margin-bottom: 0;
  }
  .offering-title:after {
    right: 0;
    transform: translate(0%);
  }
}
@media (min-width: 992px) {
  .offering-title {
    font-size: 37px;
    text-align: right;
    margin-bottom: 0;
  }
  .offering-title:after {
    right: 0;
    transform: translate(0%);
  }
}
.offering-text p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #797979;
}
@media (min-width: 768px) {
  .offering-text {
    padding-top: 10px;
  }
}
@media (min-width: 992px) {
  .offering-text {
    padding-top: 5px;
    padding-left: 16px;
  }
  .offering-text p {
    font-size: 16px;
    line-height: 27px;
  }
}
.benefits {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #fafafa 4%, #fbfbfb 8%, #fcfcfc 17%, #fcfcfc 34%, #fefefe 49%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #fafafa 4%, #fbfbfb 8%, #fcfcfc 17%, #fcfcfc 34%, #fefefe 49%, #ffffff 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #fafafa 4%, #fbfbfb 8%, #fcfcfc 17%, #fcfcfc 34%, #fefefe 49%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0);
  padding-top: 50px;
}
@media (min-width: 768px) {
  .benefits {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.benefits-block {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .benefits-block {
    padding: 0 36px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .benefits-block {
    padding: 0 91px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .benefits-block {
    padding: 0;
    margin-bottom: 0;
  }
}
.benefits-block__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
.benefits-block__title {
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 50px;
  color: #3c3c3c;
}
.benefits-block_desc {
  font-size: 14px;
  line-height: 24px;
  color: #797979;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.top-slider-theme .owl-controls {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5px;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls {
    bottom: 280px;
  }
}
/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px 5px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  border: 2px solid #fff;
  opacity: 0.7;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
  }
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  background: #fff;
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.agents-slider-theme .owl-controls {
  position: absolute;
  top: 67px;
  left: 125px;
}
@media (min-width: 768px) {
  .agents-slider-theme .owl-controls {
    top: 67px;
    left: 125px;
  }
}
@media (min-width: 992px) {
  .agents-slider-theme .owl-controls {
    top: 23px;
    left: 581px;
  }
}
@media (min-width: 1200px) {
  .agents-slider-theme .owl-controls {
    top: 23px;
    left: 650px;
  }
}
/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
.agents-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.agents-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  border: 2px solid rgba(121, 121, 121, 0.7);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.agents-slider-theme .owl-controls .owl-page.active span,
.agents-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  background: #e2574c;
  border: 2px solid #e2574c;
  opacity: 1;
}
/* If PaginationNumbers is true */
.agents-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.testimonials-slider-theme .owl-controls {
  text-align: center;
}
/* Styling Next and Prev buttons */
.testimonials-slider-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top left;
  height: 42px;
  width: 22px;
  top: 0;
  margin-top: 42px;
}
.testimonials-slider-theme .owl-controls .owl-buttons div:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .testimonials-slider-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
.owl-prev {
  left: 0;
  background-image: url(../img/icons/arrow-left.svg);
}
.owl-next {
  background-image: url(../img/icons/arrow-right.svg);
  right: 0;
}
/* Styling Pagination*/
.testimonials-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.testimonials-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px 5px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  border: 2px solid #fff;
  opacity: 0.7;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .testimonials-slider-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
  }
}
.testimonials-slider-theme .owl-controls .owl-page.active span,
.testimonials-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  background: #fff;
  opacity: 1;
}
/* If PaginationNumbers is true */
.testimonials-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.price-list {
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}
@media (min-width: 992px) {
  .price-list {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}
.subtitle-text {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #797979;
  text-align: center;
  margin-bottom: 60px;
  width: 290px;
}
@media (min-width: 768px) {
  .subtitle-text {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .subtitle-text {
    font-size: 16px;
    line-height: 27px;
  }
}
.about {
  background-color: #F3F2F2;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .about-content {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
}
.about-content__text {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 27px;
}
.about-content__text span {
  font-weight: bold;
}
@media (min-width: 768px) {
  .about-content__text {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .about-content__text {
    font-size: 37px;
  }
}
.partners {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .partners {
    padding-top: 90px;
    padding-bottom: 108px;
  }
}
.partners-content {
  display: block;
}
@media (min-width: 992px) {
  .partners-content {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.partners-content__title {
  margin-bottom: 50px;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 300;
  color: #3c3c3c;
  text-align: center;
}
.partners-content__title span {
  font-weight: 500;
}
@media (min-width: 992px) {
  .partners-content__title {
    margin-bottom: 0;
    text-align: left;
  }
}
.partners-logo {
  display: block;
}
@media (min-width: 768px) {
  .partners-logo {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
}
.partners-logo__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.partners-logo__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .partners-logo__item {
    margin-bottom: 0;
  }
}
.footer {
  background-color: #303030;
  padding-top: 40px;
  padding-bottom: 65px;
  color: #FFF;
}
@media (min-width: 992px) {
  .footer {
    padding-top: 80px;
  }
}
.footer__title {
  font-family: Raleway;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 15px;
}
.footer-nav {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer-nav {
    margin-bottom: 0;
  }
}
.footer-nav__item {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
}
.footer-nav__link {
  color: #FFF;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.footer-nav__link:hover,
.footer-nav__link:active,
.footer-nav__link:focus {
  text-decoration: none;
  color: #E2574C;
}
.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
}
.contact-list__addr {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.contact-list__freephone {
  margin: 0;
  padding: 0;
}
.contact-list__phone {
  margin: 0;
  padding: 0;
}
.contact-list__fax {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.contact-list__email {
  margin: 0;
  padding: 0;
}
.contact-list__link {
  color: #FFF;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.contact-list__link:hover,
.contact-list__link:active,
.contact-list__link:focus {
  color: #00A7E5;
  text-decoration: none;
}
.contact-list__link--email {
  color: #E2574C;
  text-decoration: underline;
}
.contact-list__link--email:hover,
.contact-list__link--email:active,
.contact-list__link--email:focus {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */