.testimonials-slider {
	background-image: url("../img/bg/testimonials-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	height: 574px;
	padding-top: 110px;
	padding-bottom: 110px;
	color: #FFF;
	text-align: center;
}

.testimonials-slider__quote {
	font-family: 'Raleway';
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 20px;
}

.testimonials-slider__author {
	font-size: 20px;
	margin-bottom: 40px;
	
	span {
		font-weight: bold;
	}
}

