.about {
	background-color: #F3F2F2;
	padding-top: 43px;
	padding-bottom: 43px;
}

.about-content {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.about-content__text {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 37px;
	span {
		font-weight: bold;
	}
}