.offering {
	padding-top: 50px;
	padding-bottom: 50px;
	
	@media (min-width: 992px) {
		padding-top: 113px;
		padding-bottom: 114px;
	}
}

.offering-title {
	margin: 0;
	margin-bottom: 20px;
	padding-bottom: 25px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 500;
	color: @gray;
	position: relative;
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 50%;
		bottom: 0;
		height: 3px;
		width: 30px;
		background-color: @gray;
		transform: translate(50%);
	}

	@media (min-width: 768px) {
		text-align: right;
		margin-bottom: 0;
		
		&:after {
			right: 0;
			transform: translate(0%);
		}
	}

	@media (min-width: 992px) {
		font-size: 37px;
		text-align: right;
		margin-bottom: 0;
		
		&:after {
			right: 0;
			transform: translate(0%);
		}
	}
}

.offering-text {
	
	p {
		margin: 0;
		font-size: 14px;
		line-height: 24px;
		color: #797979;
	}

	@media (min-width: 768px) {
		padding-top: 10px;
	}

	@media (min-width: 992px) {
		padding-top: 5px;
		padding-left: 16px;
		p {
			font-size: 16px;
			line-height: 27px;
		}
	}
}
